{% extends "webpages/base.html" %}
{% block content %}
<p>
    <h2> Hours </h2>
        Mon: 7:00 AM - 9:00 PM
        <br>
        Tues: 7:00 AM - 9:00 PM
        <br>
        Wed: 7:00 AM - 9:00 PM
        <br>
        Thurs: 7:00 AM - 9:00 PM
        <br>
        Fri:  7:00 AM - 9:00 PM
        <br>
        Sat:   8:00 AM - 9:00 PM
        <br>
        Sun:  10:00 AM - 9:00 PM
      </p>
    
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11796.489337521374!2d-71.0887826!3d42.3399151!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e37a1893ca2285%3A0xdad7b93bfeabf38b!2sStarbucks!5e0!3m2!1sen!2sus!4v1697996516276!5m2!1sen!2sus" width="450" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
{% endblock %}